@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.hover-scroll::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.hover-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #8e8e8e !important;
}
